@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@600;800&display=swap');

*,
::after,
::before {
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
}
:root {
    --primary-clr: hsl(47, 88%, 63%);
    --neutral-clr-wh: hsl(0, 0%, 100%);
    --neutral-clr-blk: hsl(0, 0%, 7%);
    --neutral-clr-gy: hsl(0, 0%, 50%);
}
html {
    font-family: Figtree, sans-serif, system-ui;
    background-color: var(--primary-clr);
    font-size: 1rem;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    max-width: 90rem;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column
}
.card {
    display: flex;
    position: relative;
    flex-direction: column;
    background-color: var(--neutral-clr-wh);
    max-width: 21.875rem;
    min-height: 31.25rem;
    padding: 1.25rem;
    border-radius: 1.25rem;
    outline: 0.125rem solid var(--neutral-clr-blk);
    box-shadow: 0.5rem 0.5rem 0 var(--neutral-clr-blk);
}
.card-img {
    position: relative;
    border-radius: 0.625rem;
}
.card-lbl {
    background-color: var(--primary-clr);
    margin: 0;
    padding: 0.188rem;
    border-radius: 0.188rem;
    font-size: .810rem;
    font-weight: 800;
    position: relative;
    top: 1.25rem;
    max-width: 3.75rem;
}
.pub-date {
    display: block;
    position: relative;
    top: 1.463rem;
    padding: 0.625rem 0;
    font-size: 0.7663rem;
}
.card h1 {
    position: relative;
    top: 2rem;
    font-size: 1.375rem;
    color: var(--neutral-clr-blk);
}
.card p {
    position: relative;
    color: var(--neutral-clr-gy);
    top: 3.2rem;
    font-weight: 600;
    font-size: 0.975rem; 
}
.avatar {
    display: flex;
    position: relative;
    gap: 0.625rem;
    align-items: center;
    top: 6rem;
}
.avatar-img {
    border-radius: 50%;
    width: 2.188rem;
    height: 2.188rem;
}
.avatar .name {
    font-size: 0.810rem;
    font-weight: 800;
}

@media (max-width: 23.438rem) {

}